.container {
  min-height: 100vh;
  padding-top: 30dvh;
  text-align: center;
  overflow: hidden;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ccc;
}

.result {
  font-size: 2rem;
  margin-top: 30px;
  opacity: 0;
  transform: scale(0.2);
  transition: transform 1.5s, opacity 1.5s;
}

.animateText {
  opacity: 1;
  transform: scale(1);
}

/* 폭죽 애니메이션 */
.confetti {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.button {
  padding: 1em 2em;
  border: 0.125em solid #ca8256;
  box-shadow: 0.5em 0.5em 0 -0.125em #fff, 0.5em 0.5em lighten(#ca8256, 35%);
  overflow: hidden;
  position: relative;
  color: #ca8256;
  font: 18px "Space Mono";
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  background-color: transparent;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #ca8256;
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(-45deg) translateY(-3em);
  transform-origin: 0% 100%;
  transition: 0.3s;
}

.button:hover {
  color: #fff;
  box-shadow: 1em 1em 0 -0.125em #fff, 1em 1em lighten(#ca8256, 35%);
}

.button:hover:after {
  transform: rotate(0deg);
}

.button.isButtonDisabled {
  content: "뽑기 진행중";
  background-color: #ddd;
  color: #ff6347;
  border-color: #bbb;
  cursor: not-allowed;
}

.button.isButtonDisabled:after {
  background: #bbb;
  transform: rotate(0deg);
}

.result h2 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  color: #ff6347;
}

.result p {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #ff4500;
}

.history {
  margin-top: 50px;
  transition: 1s;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.history h2 {
  font-size: 2rem;
  color: #ff6347;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  margin-bottom: 20px;
}

.nameInput {
  display: block;
  padding: 8px 16px;
  margin: 0 auto 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
}

.nameInput:focus {
  outline: none;
  border-color: #007bff;
}

.winnersList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.winnersList li {
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

/* 짝수/홀수 번째 항목에 다른 배경색 적용 */
.winnersList li:nth-child(2n-1) {
  background-color: #929292; /* 밝은 회색 */
  color: #121212;
}

.winnersList li:nth-child(2n) {
  background-color: #333; /* 흰색 */
}

/* 마우스 호버 효과 */
.winnersList li:hover {
  background-color: #fff3f0; /* 연한 살구색 */
  transition: background-color 0.3s ease;
  color: #ff6347;
  font-weight: 700;
}
